{{ set(this, 'title', _Blog.getBlogTitle()) }}

{{this.registerJs("HomeController.listing();")}}

{% set limit = 21 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

<div class="page_section cards_main home_section">
    <div class="container">
        {% if articles | length > 0 %}
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    {% if articles[0] is defined %}
                        <div class="col-full">
                            {{this.render('partials/_single-article.twig', {article: articles[0], position: 1, viewType: 'fullwidth' }) | raw}}
                        </div>
                    {% endif %}

                    {% for i in 1..3 %}
                        {% if articles[i] is defined %}
                            <div class="col-third">
                                {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), 'viewType': 'normal'}) | raw}}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for i in 4..5 %}
                        {% if articles[i] is defined %}
                            <div class="col-half">
                                {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), 'viewType': 'halfwidth'}) | raw}}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for i in 5..8 %}
                        {% if articles[i] is defined %}
                            <div class="col-quarter">
                                {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), 'viewType': 'small'}) | raw}}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for i in 9..11 %}
                        {% if articles[i] is defined %}
                            <div class="col-third">
                                {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), 'viewType': 'normal'}) | raw}}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for i in 12..13 %}
                        {% if articles[i] is defined %}
                            <div class="col-half">
                                {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), 'viewType': 'halfwidth'}) | raw}}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for i in 14..16 %}
                        {% if articles[i] is defined %}
                            <div class="col-third">
                                {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), 'viewType': 'normal'}) | raw}}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for i in 17..20 %}
                        {% if articles[i] is defined %}
                            <div class="col-quarter">
                                {{this.render('partials/_single-article.twig', {article: articles[i], 'position': (i+1), 'viewType': 'small'}) | raw}}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 col-xs-12 ajaxArticles" data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}" data-offset="{{limit}}">
                </div>
            </div>
            <div class="row text-center has-margin-bottom-20 has-margin-top-20">
                {% if articles|length >= limit %}
                    <a href="javascript:void(0)" class="button grey button-large loadMoreArticles"><i class="fa fa-arrow-down"></i>Load More</a>
                {% endif %}
            </div>
        {% endif %}
        
        {% set noDataCls = 'hide' %}
        {% if articles|length == 0 %}
            {% set noDataCls = '' %}
         {% endif %}
        <div class="row text-center has-margin-bottom-20 has-margin-top-20 {{noDataCls}} NoArticlesMsg">
            <p class="no-data text-center">No articles found.</p>  
        </div>
        
    </div>
</div>